@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="bumblebee"] .text-secondary {
  color:#00a082ff
}

[data-theme="bumblebee"] .btn-secondary {
  background-color:#00a082ff
}
[data-theme="bumblebee"] .btn-secondary {
  color:white
}